nav {
  border-bottom: 4px solid #1976d2;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 24px;
}

nav a {
  text-decoration: none;
  color: #1976d2;
  font-weight: bold;
  padding: 24px 32px;
}

nav a:hover {
  background: #1976d2;
  color: white;
}

.nav-right {
  position: absolute;
  top: 8px;
  right: 8px;
}
